@use 'variables' as v;

html {
	font-size: 6.25%; /*  1rem = 1px */
	box-sizing: border-box; /*box mnodel*/
}

*,
*:before,
*:after {
	box-sizing: inherit; /*box mnodel*/
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: v.$c1;
}

body {
	font-size: 16rem;
	font-family: v.$fuente_principal;
}

h1 {
	font-size: 38rem;
}

h2 {
	font-size: 34rem;
}

h3 {
	font-size: 22rem;
}

p {
	font-size: 16rem;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

.container {
	width: min(100%, 1200rem);
	margin: 0 auto;
}
