@use 'variables' as v;

html {
  font-size: 6.25%; /*  1rem = 1px */
  box-sizing: border-box; /*box mnodel*/
}

*,
*:before,
*:after {
  box-sizing: inherit; /*box mnodel*/
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

  color: v.$blanco;
}

body {
  font-size: 16rem;
  font-family: v.$fuente_principal;
  min-height: 100vh;
  height: auto;
  background-color: v.$fondo;

  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 40rem;
}

h2 {
  font-size: 36rem;
}

h3 {
  font-size: 22rem;
}

p {
  font-size: 16rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.app {
  background-color: v.$fondo-layout;
}

.container {
  width: min(90%, 1200rem);
  margin: 0 auto;
}

hr {
  margin: 30rem 0;
}

.contac_button {
  width: 120rem;
  padding-bottom: 10rem;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid v.$verde;
}
