//Tipografica
$fuente_principal: Arial, Helvetica, sans-serif;

// colores
$negro: #000000;
$blanco: #ffffff;
// Colores principales
$c1: #3d5a80;
$c2: #98c1d9;
$c3: #e0fbfc;
$c4: #ee6c4d;

// $c1: #cad2c5;
// $c2: #84a98c;
// $c3: #52796f;
// $c4: #354f52;

$movil: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
