//Tipografica
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

$fuente_1: Arial, Helvetica, sans-serif;
$fuente_principal: 'Playfair Display', serif;
// colores
$negro: #000000;
$blanco: #ffffff;
// Colores principales
$fondo: #0e0e0e;
$fondo-layout: #151515;
$fondo-gris: #242424;
$gris: #858585;

$verde: #5adba2;

$movil: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
