@use "base/variables" as v;
@use "base/mixins" as m;

.habilidades {
	display: grid;
	justify-content: center;
	text-align: center;
	gap: 10rem;

	@include m.movil {
		grid-template-columns: repeat(2, 1fr);
		gap: 50rem;
	}

	@include m.tablet {
		grid-template-columns: repeat(3, 1fr);
	}

	.habilidad {
		font-weight: bold;

		p {
			font-family: v.$fuente_1;
			font-size: 30rem;
		}
	}
}
