@use 'base/mixins' as m;

.perfil {
  @include m.flex-column-center;

  @include m.movil {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &_photo {
    width: 300rem;
  }

  &_desc {
    @include m.flex-column-center;
    align-items: center;
    text-align: center;

    @include m.movil {
      display: block;
      margin-right: 30rem;
      width: 300rem;
      text-align: justify;
    }

    p {
      margin-bottom: 20rem;
    }
  }
}
