@use 'base/mixins' as m;

.redes {
  padding-top: 20rem;
  @include m.flex-column-center;

  @include m.movil {
    flex-direction: row;
    justify-content: space-between;
  }

  &_nombre {
    font-weight: bold;
    margin-bottom: 10rem;
  }

  &_icono {
    width: 130rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 18rem;
  }

  &_icono:nth-child(2) {
    img {
      width: 18.5rem;
    }
  }
}
